*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 500px;
  height: 600px;
  width: 60%;
  /* height: 75%; */
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 4px;
  filter: drop-shadow(0 0 1.0rem #00000054);
}

.bloc-tabs {
  display: flex;
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 4px;
}

.tabs:not(.active-tabs):hover {
  background-color: rgb(206, 206, 206);
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgb(238, 238, 238);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0px 10px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
  border-radius: 4px;
}