body {
    position: relative;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://img.freepik.com/premium-vector/vector-fruits-icons_313218-806.jpg?w=1380') center center fixed;
    background-size: cover;
    filter: contrast(0.2) brightness(1.7);
    z-index: -1;
}

#pantry-title {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.pantry-menu-btn {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.pantry-menu-cancel-btn {
    position: absolute;
    bottom: 10px;
    right: 110px;
}

.pantry-menu-remove-toggle-btn {
    position: absolute;
    bottom: 10px;
    right: 160px;
}

.pantry-interactives {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(104, 104, 104, 0.064);
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 45px;
}

button:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

button:hover {
    background-color: #cecece;
}

.add-button:hover {
    color: white;
    background-color: #a9d97f;
}

.remove-button:hover {
    color: white;
    background-color: #ed6a5b;
}

button {
    background-color: rgb(229, 229, 229);
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
    border-radius: 2px;
    font-family: 'Roboto';
    font-size: 14px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 325px;
    flex: 1;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 4px;
    margin: 10px 20px;
    box-shadow: inset 0px 0px 2px gray;
}

.ingredient-list li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.ingredient-list li:hover:not(li.highlight) {
    background-color: #eeeeee;
}

.ingredient-list li img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes highlight {
    0% {
        background-color: #a9d97f;
    }

    100% {
        background-color: transparent;
    }
}

.ingredient-list li.highlight {
    animation: highlight 1.5s;
}

.tag {
    background-color: #00000013;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
}

.tag.hidden {
    background-color: #ffffff00;
    cursor: text;
    margin-top: 11px;
}

.quantity-display {
    padding: 3px 5px;
}

.quantity-display.hidden {
    padding: 3px 0px 3px 5px;
    margin-top: 11px;
}

.tag:hover:not(.tag.hidden) {
    background-color: black;
    color: white;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-box {
    list-style-type: none;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 4px;
    margin: 35px 20px;
    box-shadow: inset 0px 0px 2px gray;
}

.ingredient-image {
    opacity: 0;
    transition: transform 0.2s ease;
    animation: fadeIn 0.7s ease-in forwards;
}

.ingredient-image:hover {
    transform: scale(1.4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}