.chatBox {
    background-color: rgb(232, 232, 231);
    border: solid;
    border-radius: 5px;
    border-color: rgb(189, 189, 189);
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.indivdualMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: solid;
    background-color: rgb(97, 172, 246);
    border-color: rgb(97, 172, 246);
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    overflow-wrap: break-word;
    color: white;
}

.botMessage {
    display: flex;
    flex-direction: row;
    border: solid;
    background-color: rgb(97, 172, 246);
    border-color: rgb(97, 172, 246);
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    color: white;
}


.messages {
    display: flex;
    flex-direction: column;
}