.sliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
}

.outerRecipeBox {
    height: 470px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 4px;
    margin: 30px 20px;
    box-shadow: inset 0px 0px 2px gray;
}

.recipeCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.recipeCard {
    background-image: url("/public/images/svg/recipe-card.svg");
    background-size: contain;
    resize: both;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    width: 175px;
    height: 175px;
    padding: 5px;
    transition: transform 0.2s ease;
    animation: fadeIn 0.7s ease-in forwards;
    display: table; 
}

.recipeCard:hover {
    transform: scale(1.1);
}

.recipe-name {
    text-align:center; 
    vertical-align: middle;
    display: table-cell;
    word-break: normal;
    padding: 5px;
}

.dialogContainer {
    width: 500px;
    height: 800px;
    padding: 20px;
    /* overflow-y: auto; */
}